body{
    font-family: 'Arial', Courier, monospace;
    color: #ffffff;
    background-image: linear-gradient(to right, rgb(13, 175, 250), rgb(206, 27, 206));

}

nav ul li{
    list-style: none;
    box-shadow: 0 0 8.0px hsl(0deg 0% 0% / 0.38);
    border-radius: 10%;
    text-align: center;
    width: 10rem;
}
nav ul{
    display: flex;
    justify-content: space-around;
    width: 30%;
    color: white;
}
nav ul li:hover{
    color: red
}
nav ul li:hover{
    cursor: pointer;
}

#Hobbies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 5rem;
    box-shadow: 0 0 8.0px hsl(0deg 0% 0% / 0.38);
    border-radius: 2%;
}

#hero{
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-right: 4rem;
    box-shadow: 0 0 8.0px hsl(0deg 0% 0% / 0.38);
    border-radius: 2%;

}

img{
    border-radius: 20%;
    border-color: black;
    margin: 3rem;

}
hr{
    width: 50%;

}

h2{
    margin-left: auto;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover{
    color: red;
}

#Links {
    display: flex;
    justify-content: center;
    align-content: center;
}

.link{
    text-align: center;
}

h1{
    text-align: center;
    text-shadow: 5px 5px 12px black;
}
h3{
    line-height: 2;
}

#experiences {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 5rem;
    box-shadow: 0 0 8.0px hsl(0deg 0% 0% / 0.38);
    border-radius: 2%;
}

.experience{
    
}