
body{
    font-family: "Poppins", sans-serif, monospace;
    color: #ffffff;
    background-image: linear-gradient(to right, rgb(13, 175, 250), rgb(206, 27, 206));

}

nav ul li{
    list-style: none;
    box-shadow: 0 0 8.0px hsla(0, 0%, 0%, 0.38);
    border-radius: 10%;
    text-align: center;
    width: 10rem;
}
nav ul{
    display: flex;
    justify-content: space-around;
    width: 30%;
    color: white;
}
nav ul li:hover{
    color: red
}
nav ul li:hover{
    cursor: pointer;
}

#Hobbies {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 8rem;
    margin-left: 8rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

#hero{
    display: flex;
    gap: 5rem;
    justify-content: flex-end;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-right: 4rem;
    margin-left: 4rem;
    padding: 40px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);

}

img{
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    margin: 3rem;

}
hr{
    width: 50%;

}

h2{
    text-align: center;
    margin-right: 8rem;
    margin-left: 8rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
}

a:hover{
    color: red;
}

#Links {
    display: flex;
    justify-content: center;
    align-content: center;
}

.link{
    text-align: center;
}

h1{
    text-align: center;
    margin-right: 8rem;
    margin-left: 8rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}
h2{
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}
h3{
    line-height: 2;
}

#experiences {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 5rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}



